

@{
    ViewBag.Title = "Supplements";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}

@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend>@Resources.Resources.ChooseYourLanguage</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="it">
                    <input name="culture" id="it" value="it" type="radio" @selected("it", culture) /> Italian
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="sq">
                    <input name="culture" id="sq" value="sq" type="radio" @selected("al", culture) /> Shqip
                </label>
            </div>
        </div>
    </fieldset>
}




<h2>@Resources.Resources.Supplements</h2>
<div ng-app="Supplement" ng-controller="QuerySupplement">
  
    <div class="row" >
        <div class="col-md-4"  ng-repeat="supplement in supplements">
            <h3>{{supplement.Name}}</h3>
                <div><strong>@Resources.Resources.Form </strong> {{supplement.ProductSupplementForm.Name}}</div>
                <div><strong>@Resources.Resources.Producer </strong>  {{supplement.ProductProducer.Name}}</div>
                <div><strong>@Resources.Resources.Type </strong> {{supplement.ProductType.Name}}</div>
                <div><strong>@Resources.Resources.TargetGroup </strong>{{supplement.ProductTargetGroup.Name}}</div>
                <div><strong>@Resources.Resources.DietaryClaim </strong>{{supplement.ProductDietaryClaim.Name}}</div>
                <div><strong>@Resources.Resources.Website </strong>{{supplement.ProductProducer.Website}}</div>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{supplement.Id}}">@Resources.Resources.Ingredients</a>
                        </h4>
                    </div>
                    <div id="{{supplement.Id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row" ng-repeat="ingredient in supplement.Ingredients">
                                <div class="col-md-12">{{ingredient.Name}} {{ingredient.IngredientValue}} {{ingredient.IngredientUnit.Name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>         
        </div>

        <div class="form-group" ng-show="showFilters">
            <div class="row">
                <div class="col-lg-12"><h4>@Resources.Resources.IngredientFilters</h4></div>
                <div class="col-md-2">
                    <label for="nameLikeOperator">@Resources.Resources.Like</label>
                    <select class="form-control" ng-model="nameLikeOperator" id="nameLikeOperator">
                        <option value="must_include">@Resources.Resources.MustInclude</option>
                        <option value="may_include">@Resources.Resources.MayInclude</option>
                        <option value="exclude">@Resources.Resources.Exclude</option>
                        <option value="begins_with">@Resources.Resources.BeginsWith</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="ingredientName">@Resources.Resources.IngredientName</label>
                    <input class="form-control" ng-model="ingredientName" id="ingredientName" type="text" />
                </div>
                <div class="col-md-2">
                    <label for="ingredientCategory">@Resources.Resources.IngredientCategroy</label>
                    <select class="form-control" ng-model="ingredientCategory" id="ingredientCategory">
                        <option value="no_category">@Resources.Resources.NoCateogory</option>
                        <option value="vitamin">@Resources.Resources.Vitamin</option>
                        <option value="mineral">@Resources.Resources.Mineral</option>
                        <option value="amino_acid">@Resources.Resources.AminoAcid</option>
                        <option value="animal_part_source">@Resources.Resources.AnimalPartSource</option>
                        <option value="bacteria">@Resources.Resources.Bacteria</option>
                        <option value="blend">@Resources.Resources.Blend</option>
                        <option value="botanical">@Resources.Resources.Botanical</option>
                        <option value="carbohydrate">@Resources.Resources.Varbohydrate</option>
                        <option value="chemical">@Resources.Resources.Chemical</option>
                        <option value="element">@Resources.Resources.Element</option>
                        <option value="enzyme">@Resources.Resources.Enzyme</option>
                        <option value="fat">@Resources.Resources.Fat</option>
                        <option value="fatty_acid">@Resources.Resources.FattyAcid</option>
                        <option value="fiber">@Resources.Resources.Fiber</option>
                        <option value="header">@Resources.Resources.Header</option>
                        <option value="hormone">@Resources.Resources.Hormone</option>
                        <option value="other">@Resources.Resources.Other</option>
                        <option value="polysaccharide">@Resources.Resources.Polysaccharide</option>
                        <option value="protein">@Resources.Resources.Protein</option>
                        <option value="tbd">Tbd</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="operator">Operator</label>
                    <select class="form-control" ng-model="quantityOperator" id="operator">
                        <option  value="geq">>=</option>
                        <option value="gt">></option>
                        <option value="eq">=</option>
                        <option value="leq"><=</option>
                        <option value="lt"><</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <label for="quantity">@Resources.Resources.Quantity</label>
                    <input class="form-control" ng-model="ingredientQuantity" id="quantity" type="number" />
                </div>
                <div class="col-md-1">
                    <label for="unit">Unit</label>
                    <select class="form-control" ng-model="ingredientUnit" id="unit">
                        <option>mg</option>
                        <option>g</option>
                    </select>
                </div>
            </div>
            <div class="row">
              
            </div>
            <div class="row">
                <div class="col-lg-12"><h4>@Resources.Resources.IngredientCategroy</h4></div>
                <div class="col-md-2">
                    <label for="productNameLikeOperator">Like</label>
                    <select class="form-control" ng-model="productNameLikeOperator" id="productNameLikeOperator">
                        <option value="must_include">@Resources.Resources.MustInclude</option>
                        <option value="may_include">@Resources.Resources.MayInclude</option>
                        <option value="exclude">@Resources.Resources.Exclude</option>
                        <option value="begins_with">@Resources.Resources.BeginsWith</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="productName">@Resources.Resources.ProductName</label>
                    <input class="form-control" ng-model="productName" id="productName" type="text" />
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="productType">@Resources.Resources.ProductType</label>
                    <select class="form-control" ng-model="productType" id="productType">                        
                        <option value="A1317">@Resources.Resources.BOTANICALSUPPELMENTWITHVITAMINMINERAL</option> 
                        <option value="A1305">@Resources.Resources.DIETARYSUPPLEMENTAMINOACIDPROTEIN</option>
                        <option value="A1313">@Resources.Resources.DIETARYSUPPLEMENTCOMBINATION</option> 
                        <option value="A1325">@Resources.Resources.DIETARYSUPPLEMENTCOMBINATION</option>
                        <option value="A1306">@Resources.Resources.DIETARYSUPPLEMENTHERBALBOTANICAL</option> 
                        <option value="A1299">@Resources.Resources.DIETARYSUPPLEMENTMINERAL</option> 
                        <option value="A1309">@Resources.Resources.DIETARYSUPPLEMENTNONNUTRIENTNONBOTANICAL</option> 
                        <option value="A1326">@Resources.Resources.DIETARYSUPPLEMENTOTHERNUTRITIVE</option> 
                        <option value="A1302">@Resources.Resources.DIETRAYSUPPLEMENTVITAMIN</option> 
                        <option value="A1310">@Resources.Resources.FATTYACCIDFATOIL</option>  
                        <option value="A1315">@Resources.Resources.MULTIVITAMINMULTIMINERAL</option> 
                        <option value="A1316">@Resources.Resources.SINGLEVITAMINSINGLEMINERAL</option> 
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="supplementForm">@Resources.Resources.SupplementForm</label>
                    <select class="form-control" ng-model="supplementForm" id="supplementForm">
                      <option value="E0164">@Resources.Resources.BAR</option>
                      <option value="E0159">@Resources.Resources.CAPSULE</option> 
                      <option value="E0176">@Resources.Resources.GUMMY</option> 
                      <option value="E0165">@Resources.Resources.LIQUID</option>
                      <option value="E0174">@Resources.Resources.LOZENGE</option>
                      <option value="E0162">@Resources.Resources.POWDER</option>
                      <option value="E0161">@Resources.Resources.SOFTGLCAPSULE</option>
                      <option value="E0172">@Resources.Resources.OTHER1</option>
                      <option value="E0177">@Resources.Resources.UNKNOWN</option>
                      <option value="E0155">@Resources.Resources.TABLET</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="targetGroup">@Resources.Resources.TargetGroup</label>
                    <select class="form-control" ng-model="targetGroup">
                       <option value="P0250">@Resources.Resources.Fouryearsandabove</option>
                       <option value="P0266">@Resources.Resources.Infantschildren12M</option>
                       <option value="P0192">@Resources.Resources.Children12M4Y</option>
                       <option value="P0253">@Resources.Resources.Pregnantlactatingwomen</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary" ng-click="createQuery()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-2">Supplement Form</div>
        <div class="col-sm-2">Producer</div>
        <div class="col-sm-2">Type</div>
        <div class="col-sm-2">Target Group</div>
        <div class="col-sm-2">Dietary Claim</div>
    </div>
    <div class="row" ng-repeat="supplement in supplements">
        <div class="col-sm-2">{{supplement.Name}}</div>
        <div class="col-sm-2">{{supplement.ProductSupplementForm.Name}}</div>
        <div class="col-sm-2">{{supplement.ProductProducer.Name}}</div>
        <div class="col-sm-2">{{supplement.ProductType.Name}}</div>
        <div class="col-sm-2">{{supplement.ProductTargetGroup.Name}}</div>
        <div class="col-sm-2">{{supplement.ProductDietaryClaim.Name}}</div>
        <div class="row" ng-repeat="ingredient in supplement.Ingredients">
            <div class="col-sm-1">{{ingredient.Name}}</div>
            <div class="col-sm-1">{{ingredient.IngredientValue}}</div>
            <div class="col-sm-1">{{ingredient.IngredientUnit.Name}}</div>
        </div>
    </div>
            -->
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
}
