@model IEnumerable<SupplementApi.Models.ProductIngredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.FirstOrDefault().IdProduct})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new  {productId = item.IdProduct, ingredientId =item.IdIngredient }) |
            @Html.ActionLink("Details", "Details", new { productId = item.IdProduct, ingredientId = item.IdIngredient }) |
            @Html.ActionLink("Delete", "Delete", new { productId = item.IdProduct, ingredientId = item.IdIngredient })
        </td>
    </tr>
}

</table>
